.bg-primary-light {
  background: rgb(49 95 240) !important;
}

#img-at01 {
  max-width: 450px;
  border-radius: 50%;
  aspect-ratio:1;
  object-fit: cover;
}


#bg-dif {
  background: url(../../right-light-gradient-background-1_530521-1053.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


#bg-dif > :first-child {
  background: linear-gradient(45deg, #6c63ff, #6c63ff45);
}